.article-and-comment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.908);
  border-radius: 5px;
  padding: 20px;
}

.article-container img {
  width: 40%;
  margin: 0 0 0.5rem 0;
  object-fit: fill;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 30%;
  margin-bottom: 1rem;
}

@media (max-width: 950px) {
  .article-container img {
    width: 100%;
    margin-left: 0;
  }
}

.author-date {
  margin: 0.5rem 0 0.5rem 0;
}

.article-body {
  color: rgb(0, 0, 0);
}

.votes-comment-count {
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 600;
}

.error-page {
  text-align: center;
  color: rgb(251, 94, 86);
  text-shadow: -1px -1px 1px white, 1px -1px 1px #d2c0c0, -1px 1px 1px #c7b4b4,
    1px 1px 1px #483b3b;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.908);
  padding: 20px;
}

.error-page button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.like-buttons button {
  padding: 5px 5px 0;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.like-buttons button:hover {
  background-color: rgb(255, 98, 0);
  transform: scale(1.2);
}

.like-buttons p {
  margin-top: 7px;
  margin-bottom: -10px;
}

#btn-clicked {
  background-color: rgb(255, 98, 0);
}
