.comment-card {
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  background-color: rgba(255, 255, 255, 0.908);
  font-size: 0.9em;
}

.comment-heading {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.comment-author {
  margin: 0.5rem 0;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.comment-likes {
  text-align: end;
  font-weight: bold;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  /* width: 70%; */
}

.comment-form textarea {
  padding: 0.5rem;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  font-size: 0.9em;
}

.comment-form button {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  margin-bottom: 2.5rem;
  cursor: pointer;
  background-color: rgba(255, 123, 0, 0.616);
}
.comment-form button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.comment-success {
  color: rgb(16, 255, 3);
}

.comment-fail {
  color: red;
}
