nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(23, 24, 55); */
  padding: 10px;
  font-size: 1.5rem;
  padding: 0 4%;
  backdrop-filter: blur(2px);
}

nav .title {
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 2px 1px 0px #ff9408;
  position: sticky;
  top: 0;
  font-family: "freight-big-pro";
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
}

nav ul {
  display: flex;
  margin-left: 4%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 162, 0);
  text-shadow: 1px 1px 1px #000000;
  text-shadow: -1px -1px 1px white, 1px -1px 1px #000000, -1px 1px 1px #000000;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

nav ul.open {
  display: flex;
}

nav ul li a:hover {
  background-color: rgb(40, 25, 25);
  color: rgb(255, 255, 255);
}

nav .menu {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.25rem 0.5rem;
  }
}
