nav {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 10px;
  font-size: 1.5rem;
  padding: 0 4%;
  position: relative;
}

nav .title {
  display: block;
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 2px 1px 0px #ff9408;
  position: absolute;
  font-family: "freight-big-pro";
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.658);
}

nav ul {
  display: flex;
  margin-left: 4%;
  justify-content: end;
}

nav ul li {
  list-style: none;
  /* display: flex; */
  align-items: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 123, 0);
  text-shadow: -1px -1px 1px white, 1px -1px 1px #000000, -1px 1px 1px #000000;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  position: sticky;
  top: 0;
}

nav ul.open {
  display: flex;
}

nav ul li a:hover {
  background-color: rgb(40, 25, 25);
  color: rgb(255, 255, 255);
}

nav .menu {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.879);
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8); /* Add a white outline */
}

@media (max-width: 900px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    padding: 0 4%;
  }
  nav .title {
    position: sticky;
    top: 0;
  }
  .navbar {
    transition: background-color 0.3s ease;
  }

  .scrolled {
    background-color: rgb(255, 255, 255);
  }
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.25rem;
  }
  .dropdown-parent {
    gap: 0.6rem;
  }

  .img-user {
  }
}

@media (max-width: 400px) {
  nav .title {
    font-size: 2rem;
  }
}

.dropdown-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu {
  background-color: rgba(185, 174, 174, 0.61);
  border-radius: 5px;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

.dropdown-menu a {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1.1em;
}

.dropdown-menu button:hover {
  background-color: rgb(40, 25, 25);
  color: rgb(255, 255, 255);
}

.news-icon {
  display: inline-block;
  position: relative;
  top: 5px;
}
